<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script
            src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Sign in & Sign up Form</title>
</head>
<body>
<div class="container">
    <div class="forms-container" id="app">
        <div class="signin-signup">
            <form action="#" class="sign-in-form">
                <h2 class="title">Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input v-model="username" type="text" placeholder="Username"></input>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input v-model="password" type="password" placeholder="Password"></input>
                </div>
                <input type="submit" value="Login" class="btn solid" @click="login()"></input>
            </form>

            <form action="#" class="sign-up-form">
                <h2 class="title">Sign up</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input v-model="username" type="text" placeholder="Username"></input>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input v-model="password" type="password" placeholder="Password"></input>
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input v-model="checkCode" type="text" placeholder="Verification Code"></input>
                </div>
                <span><img style="text-align: end" id="checkCodeImg" src="images/img.png">
                    <a href="#" id="changeImg">看不清？</a>
              </span>
                <input type="submit" class="btn" value="Sign up" @click="register()"></input>

            </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>New here ?</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
                    ex ratione. Aliquid!
                </p>
                <button class="btn transparent" id="sign-up-btn">
                    Sign up
                </button>
            </div>
            <img src="images/log.svg" class="image" alt=""/>
        </div>
        <div class="panel right-panel">
            <div class="content">
                <h3>One of us ?</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                    laboriosam ad deleniti.
                </p>
                <button class="btn transparent" id="sign-in-btn">
                    Sign in
                </button>
            </div>
            <img src="images/register.svg" class="image" alt=""/>
        </div>
    </div>
</div>
<script src="js/app.js"></script>
<!--导入axios框架 vue2框架 element组件 以及css样式-->
<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#app",

        methods:{
            login(){
                let _this = this;
                axios({
                    method: "get",
                    url: "http://localhost:8080/brand-demo-aiox/User/login?username="+_this.username+"&password="+_this.password,
                }).then(function (resp) {
                    if (resp.data)
                    {
                        console.log("已找到");
                    }else {
                        console.log("未找到");
                    }
                })
            },
            register(){
                axios({

                })
            }
        },

        data(){
            return{
                username: '',
                password: '',
                checkCode: '',
                user:{
                    username: '',
                    password: ''
                }
            }
        }

    })


</script>

</body>
</html>
